body{
    background-color: #131415;
}

p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: white;
    font-size: 2.5rem;
}

.titulo::after{
    content: '👾';
}

.subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    font-size: 1.5rem;
}

.contenedor{
    width: 250px;
    height: 40px;
    border-radius: 1rem;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor-translate{
    background-color: #3c3d3b;
    border-radius: 1rem;
    width: auto;
    height: auto;
    margin-top: 10px;
    display: flex;
    gap: 30px;
    padding: 10px;
}

.caja{
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-radius: 1rem;
}

.translateX{
    /* También se puede hacer con el translate común y quedaría */
    /* transform: translate(20px) */
    transform: translateX(20px);
}

.translateY{
    /* transform: translate(0px, 50px); */
    transform: translateY(30px);
}

.translateGeneral{
    transform: translate(10px, 20px);
}

.contenedor-rotate{
    background-color: #3c3d3b;
    border-radius: 1rem;
    width: auto;
    height: auto;
    margin-top: 10px;
    display: flex;
    gap: 30px;
    padding: 10px;
}

.rotateX{
    transform: rotateX(30deg);
}

.rotateY{
    transform: rotateY(30deg);
}

.rotateGeneral{
    transform: rotate(30deg);
}

.contenedor-scale{
    background-color: #3c3d3b;
    border-radius: 1rem;
    width: auto;
    height: auto;
    margin-top: 10px;
    display: flex;
    gap: 30px;
    padding: 10px;
}

.scaleX{
    transform: scaleX(1.1);
}

.scaleY{
    transform: scaleY(1.1);
}

.scaleGeneral{
    transform: scale(1.1,1.2);
}